# Application
NODE_ENV=development
PORT=8000
APP_NAME=Student Management API
API_PREFIX=/api/v1

# Database
DATABASE_URL=

# Authentication
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

# Security
SALT_ROUNDS=12

# CORS
CORS_ORIGIN=http://localhost:5173